
.choose.question {
    padding: 1%;
    border-radius: 50px;
}

.choose p {
    text-align: center;
    font-size: 17px;
    margin-bottom: 2%;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 5%;
    justify-content: center;
    text-align: center;
}

.controls a {
    cursor: pointer;
    margin: 1%;
    min-width: 170px;
    flex: 1;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    margin: 1%;
}

.vote {
    text-align: start;
    margin: 4% 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: black 1px solid;
}

span {
    margin-left: auto;
}

.btn.success {
    background-color: rgb(36, 141, 36);
    border: rgb(23, 121, 23) 1px solid;
    color: white;
}

.btn.danger {
    background-color: rgb(236, 69, 69);
    border: rgb(202, 66, 66) 1px solid;
    color: white;
}

.btn.success:hover {
    background-color: rgb(47, 167, 47);
    transition: 200ms ease-in;
}

.btn.danger:hover {
    background-color: rgb(241, 91, 91);
    transition: 200ms ease-in;
}

@media screen and (max-width: 735px) {
    .controls a {
        min-height: auto;
    }
  
}