.contact {
    background: url('../img/contacty1.jpg') no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 540px;
    padding: 40px 0;
}

.contact p, .contact h1 {
    color: white;
    text-align: center;
    background: none;
    padding: 0;
}

.contact h1 {
    font-size: 60px;
    padding: 10px 0 0;
    border-bottom: white 1px solid;
    width: 50%;
    margin: 0px auto;
    text-transform: uppercase;
    text-shadow: #444 2px 2px 2px ;
}

.contact div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.contact a {
    text-decoration: none;
    border: white 1px solid;
    color:white;
    border-radius: 100px;
    border-style: solid;
    border-width: 2px;
    height: 150px;
    width: 150px;
    line-height: 100px;
    margin: 40px 20px;
    text-align: center;
    font-size: 22px;
    text-shadow: #444 2px 2px 2px ;
}

.contact a:hover{
    background-color: rgb(51, 51, 51, 0.3);  
    transition: 200ms ease-in;
}

.fab, .fas {
    font-size: 45px;
    text-align: center;
    margin-top: 30%;
    color: white;
}

@media screen and (max-width: 735px) {
    .contact h1 {
        font-size: 50px;
    }
    
    .contact a {
        margin:40px 10px;
        height: 130px;
        width: 130px;
        line-height: 80px;
    }
}

@media screen and (max-width: 490px) {
    .contact h1 {
        font-size: 35px;
        padding: 25px 0 0;
    }

    .contact a {
        height: 100px;
        width: 100px;
        line-height: 70px;
        font-size: 19px;
        margin: 50px 8px 0;
    }

    .fab, .fas {
        font-size: 32px;
        margin-top: 30%;  
    }
}


@media screen and (max-width: 380px) {
    .contact h1 {
        width: 80%;
        font-size: 30px;
    }
    
    .contact a {
        height: 85px;
        width: 85px;
        font-size: 17px;
        line-height: 55px;
    }

    .fab, .fas {
        font-size: 25px; 
        margin-top: 35%;           
    } 
}



