footer p {
    background-color:#ee4645;
    padding: 4px;
    margin: 0 auto;
    box-sizing: border-box;
    color: #111;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 2px;
}

.the-end {
    text-align: center;
    background: url('../img/mramor.jpg');
    color: white;
    margin: 0 auto;
    padding: 17px 0 10px;
}