* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background: rgb(248, 248, 248);
    scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 8px;
    width: 100%;
}

p {
    line-height: 32px;
    font-size: 17px;
    padding: 2%;
    text-align: justify;
}

.btn {
    border-radius: 8px;
    text-decoration: none;
    padding: 4px;
    font-size: 20px;
    margin: 0;
}

.title  {
    font-size: 50px;
    max-width: 70%;
    margin: 0px auto 80px;
    text-transform: uppercase;
    color:  #2e2e2e;
    text-align: center;
    
}  
  
.title::after {
    color: #ee4545;
    content: "";
    font-family: fontawesome;
    font-size: 20px;
    height: 2px;
    left: 50%;
    line-height: 10px;
    margin-left: -70px;
    position: absolute;
    width: 140px;
    background: none 0px 0px repeat scroll #ee4545;
    margin-top: 73px;
}

.special {
    line-height: 32px;
    font-size: 20px;
    padding: 4%;
    margin: 1%;
    background-color: #ee4545;
    color: white;
    text-align: center;
    border-radius: 10px;
}

@media screen and (max-width: 735px) {
    .title {
        font-size: 45px;
    }

    .btn {
        font-size: 18px;
    }
}

@media screen and (max-width: 490px) {
    .title {
        font-size: 35px;
        margin: 0px auto 60px;   
    }
    
    .title::after {
        margin-top: 55px;
        font-size: 15px;
        height: 1px;
        left: 50%;
        line-height: 7px;
        margin-left: -49px;
        width: 100px;
    }

    .btn {
        font-size: 16px;
    }
}

@media screen and (max-width: 380px) {
    p {
        font-size: 16px;
    }

    .special {
        font-size: 17px;
    }
}



